@use 'variables' as *;

@mixin profile-styles($width: 50vw) {
    .Profile {
        width: $width;

        .Profile__progress {
            width: $width;

            .Progress__circle {
                width: $width;
            }
        }
    }
}

@mixin flex-profile {
    .Journey__domain--profile {
        display: flex;
    }
}

@media (min-width: 768px) {
    @include flex-profile();
    @include profile-styles(50vw);

    .ProfileCards {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: 1fr .2fr;
        row-gap: 10px;

        &--item {
            width: 50vw;
        }

        &__item--selected {
            width: 25vw;

            & select {
                width: 50vw;
            }
        }
    }
}