# Ignore build output
bin/
obj/
out/

# Ignore user-specific files
*.user
*.vs
.vscode/
*.suo
*.ncrunchsolution
*.ncrunchproject
*.cache
*.config

# Ignore temporary and log files
*.log
*.tlog
*.cache/
*.pdb
*.mdb

# Ignore package and dependency directories
node_modules/
packages/
.vs/
.idea/
wwwroot/node_modules/

# Ignore Docker-related files
Dockerfile*
docker-compose*

# Ignore environment-specific files
.env
*.secrets.json

# Ignore published output
publish/
dist/

# Ignore system files
Thumbs.db
.DS_Store
