$profileTextColor: #2F3E46;
$achievementsIconColor: #52796F;
$achievementsItemBackground: #CAD2C5;
$bgCircleStroke: #84A98C;
$progressBarStroke: #52796F;
$imageBackground: #52796F;
$journeyBackgroundColor: #84A98C;
$svgBackgroundColor: #CAD2C5;
$svgBorderColor: #52796F;
$achievementsItemBoxShadow: #2F3E46;
$cardsItemBackgroundColor: #84A98C;
$cardsItemSelectedBackgroundColor: #84A98C;