@use 'variables' as *;

.flex__button {
    z-index: 100;
    position: fixed;
    right: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: $buttonBackgroundColor;

    .NavigationButton_button {
        margin-top: 0.5rem;
        position: relative;
        float: right;
        width: 2.5rem;
        height: 2rem;
        border-radius: 1rem;

        & span {
            background-color: $buttonTextColor;
            display: block;
            position: relative;
            height: 0.3rem;
            width: inherit;
            float: right;
            border-radius: 0.5rem;
            opacity: 1;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        & span:nth-child(1) {
            padding: 0.1rem;
            top: 0.3rem;
        }

        & span:nth-child(2) {
            padding: 0.1rem;
            top: 0.95rem;
        }

        &.active span:nth-child(1) {
            transform: rotate(45deg);
        }

        &.active span:nth-child(2) {
            top: 0.35rem;
            transform: rotate(-45deg);
        }

        &.active {
            background-color: transparent;

            span:nth-child(1) {
                background-color: $buttonBackgroundColor;
            }
        }
    }
}