@use 'variables' as *;

.Head_header {
    z-index: 1000;
    background-color: $navbarBackgroundColor;
    min-width: 100vw;
    height: 5rem;
    position: fixed;

    &.flex {
        display: flex;
        padding: 0 0.5rem;
    }
}