@use 'variables' as *;

.Footer {
    line-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $footerBackgroundColor;

    &__socialMedia {
        padding-top: 1rem;
        display: flex;
        width: 15rem;
        justify-content: center;
        justify-content: space-around;

        &Handle {

            &--icons {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }

}